version: "3.9"


services:

    
  matter-hub:
     image: matter-hub
     container_name: matter-hub-pi
     volumes:
       - /dev/ttyACM0:/dev/radio
     sysctls:
       net.ipv6.conf.all.disable_ipv6: 0
       net.ipv4.conf.all.forwarding: 1
       net.ipv6.conf.all.forwarding: 1
     ports:
      - 8080:80
     dns:
       - 127.0.0.1
     privileged: true
     #stdin_open: true
     tty: true
     command: ["--radio-url", "spinel+hdlc+uart:///dev/radio?uart-baudrate=1000000"]
     networks:
      ipv6net:
     extra_hosts:
      - "host.docker.internal:host-gateway"



networks:
  ipv6net:
    name: otbr
    external: true
  host:
    name: host
    external: true